# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# SSL/TLS certificates
*.crt
*.key
*.pem
*.pfx
*.p12
*.pfx
*.p12

# Database
*.db

# Todo list
todo.md

# Custom ignores
**/.DS_Store
.vscode/
.devcontainer/
logs/
*.log
*.txt
!requirements.txt

# Executables
releases/
squarephish
squarephish.exe
squarephish-*.zip
!cmd/squarephish/

# Python files
venv/

# gimmePRT
prt.txt
